<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado",{usuario:usuario}) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="post" action="/producto/agregarproducto" class="form-agregar"> 
				<div>
					<label for="imagen">Imagen:</label>
					<input type="text" name="imagen" id="imagen">
				  </div>
				  <div>
					<label for="nombre">Nombre:</label>
					<input type="text" name="nombre" id="nombre">
				  </div>
				  <div>
					<label for="descripcion">Descripción:</label>
					<input type="text" name="descripcion" id="descripcion">
				  </div>
				  <div>
					<button type="submit" class="btn">Enviar</button>
				  </div>
				  
			</form>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>