<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
        <div class="col-12">
          <form action="/" method="GET">
            <div>
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" required>
            </div>
            <div>
              <label for="usuario">Usuario:</label>
              <input type="text" name="usuario" id="usuario" required>
            </div>
            <div>
              <label for="contrasena">Contraseña:</label>
              <input type="password" name="contrasena" id="contrasena" required>
            </div>
            <div>
              <label for="fechaNacimiento">Fecha de Nacimiento:</label>
              <input type="date" name="fechaNacimiento" id="fechaNacimiento" required>
            </div>
            <div>
              <label for="dni">Número de Documento:</label>
              <input type="number" name="dni" id="dni" required>
            </div>
            <div>
              <label for="foto">Foto de Perfil (URL):</label>
              <input type="text" name="foto" id="foto" required>
            </div>
            <div>
              <button type="submit">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
  </body>
</html>
